# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store

# Bot-specific local data
faq-*.json
asked_questions.json

# IDEs/editors
.vscode/
.idea/

# Debug/coverage/output
coverage/
dist/
